registry=https://rb-artifactory.bosch.com/artifactory/api/npm/npm-repo/
proxy=http://proxy.br.bosch.com:8080/
https-proxy=http://proxy.br.bosch.com:8080/
//rb-artifactory.bosch.com/artifactory/api/npm/npm-repo/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJnMzR0ZXRQV1R6cVZRZGFRRTI2eEhrOE5HZFhkZnI1VVMzc0VKcXloV1JJIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2NcL3VzZXJzXC9jdDY3Y2EiLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2MiLCJpc3MiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2NcL3VzZXJzXC9jdDY3Y2EiLCJpYXQiOjE2MzE3MTY1NTMsImp0aSI6ImU5ZWQ1ODQ3LTAzZTUtNDBmZi1hMjJiLWVhZDgxMGM4MmYyMCJ9.qHMhv06uIc8JAaN0DXJeRIplsCBVESSazNjfnBgOzIKpyH2VzCvhx5SLkAO9_p6lIbwHWvAbFWbadko1fLYsRkf_06dkTYQRkamPGDARctswZB3o4yXShUGXM9ViMhf4qTm-pBcZlDmB-pDZgHABoEo7FqVHqb0OXXTyjsI_u9M4dENI3nf5sEnHAWV9qpSH6Zz9sU-JcHJ0uM3iFsTMRuhltpGRHcA2rmHlr3FpmAYWtlnFKnGcb1JXRAq09rxtkOP9qQdKlIb-kIXn1tc8MZsYLjZPEjdvy5SODAtVv5SfQ0iYN4PkqjF5KMuZowPquzAkKBXLgiQcfKQ-2RoRMA
//rb-artifactory.bosch.com/artifactory/api/npm/npm-repo/:_auth = eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJnMzR0ZXRQV1R6cVZRZGFRRTI2eEhrOE5HZFhkZnI1VVMzc0VKcXloV1JJIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2NcL3VzZXJzXC9jdDY3Y2EiLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2MiLCJpc3MiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2NcL3VzZXJzXC9jdDY3Y2EiLCJpYXQiOjE2MzE3MTY1NTMsImp0aSI6ImU5ZWQ1ODQ3LTAzZTUtNDBmZi1hMjJiLWVhZDgxMGM4MmYyMCJ9.qHMhv06uIc8JAaN0DXJeRIplsCBVESSazNjfnBgOzIKpyH2VzCvhx5SLkAO9_p6lIbwHWvAbFWbadko1fLYsRkf_06dkTYQRkamPGDARctswZB3o4yXShUGXM9ViMhf4qTm-pBcZlDmB-pDZgHABoEo7FqVHqb0OXXTyjsI_u9M4dENI3nf5sEnHAWV9qpSH6Zz9sU-JcHJ0uM3iFsTMRuhltpGRHcA2rmHlr3FpmAYWtlnFKnGcb1JXRAq09rxtkOP9qQdKlIb-kIXn1tc8MZsYLjZPEjdvy5SODAtVv5SfQ0iYN4PkqjF5KMuZowPquzAkKBXLgiQcfKQ-2RoRMA
email = campinas.ets@br.bosch.com
always-auth = true